body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Fredoka One", sans-serif;
}

h2 {
    color: navy;
}

header h2 {
    color: lightblue;
}

.site-footer {
    background-image: linear-gradient(to right, purple, navy);
    padding: 20px 0px;
    color: white;
}

.jumbotron {
    margin: 0;
    padding 35px;
    background-image: linear-gradient(to right, purple, navy);
    color: white;
    border-radius: 0%;
}

.row-content {
    padding: 50px 0px;
    border-bottom: 4px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #15016d;
}

.breadcrumb {
    margin-bottom: 40px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: 5px solid navy;
    border-radius: 15px;
}

.carousel-item img {
    border-radius: 10px;
}